:root {
  
    //background colors
    --black-bgcolor:#1e2938;
    --tab-bordercolor:#DEDEDE;
    --tab-bgcolor:#EEEDF0;
    --patient-list-bg:#f6f9fc;
      //text color
      --white: #ffffff;
      --black: #000000;
      --text-light: #6b6c6f;
      --text-dark: #252529;
      --text-blue: #0095d9;
      --text-lightgreen: #4EA896;
      --text-lightyellow: #A2B863;
      --text-darkblack:#536172;
      --light-grey: #9c9c9c;
      --eye-grey:#9C9C9C;
    --dark-light:#121212;
    --border-grey:#ced4da;
    --danger-light:#FF8683;
    --tab-textcol:#47495A;
    --light-red:#FF3333;/* #d44950; */
    --signout:#FF1313;
    --consult-col:#9CB2CD;
    --myProfile:#273142;
    --schedule-block:#EFF6FF;
    --schSel-bg:#538FFF;
      //font variables
      --ThinItalic: "Roboto-ThinItalic", roboto;
      --LightItalic: "Roboto-LightItalic", roboto;
      --Regular: "Roboto-Regular", roboto;
      --Black: "Roboto-Black", roboto;
      --BoldItalic: "Roboto-BoldItalic", roboto;
      --Bold: "Roboto-Bold", roboto;
      --Light: "Roboto-Light", roboto;
      --Thin: "Roboto-Thin", roboto;
      --Medium: "Roboto-Medium", roboto;
      --MediumItalic: "Roboto-MediumItalic", roboto;
      --Italic: "Roboto-Italic", roboto;
      --BlackItalic: "Roboto-BlackItalic", roboto;
    }